:root {
  --sunrise: #F8EE62;
  --twilight: #D6D7D4;
  --night: #464547;
  --midnight: #000000;
  --highnoon: #F6D809;
}

@font-face {
  font-family: "VIC-Regular";
  font-style: normal;
  src: url("./fonts/VIC-Regular.eot");
  src: url("./fonts/VIC-Regular-iefix.eot?#iefix") format("embedded-opentype"),
       url("./fonts/VIC-Regular.woff2") format("woff2"),
       url("./fonts/VIC-Regular.woff") format("woff"),
       url("./fonts/VIC-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "VIC-SemiBold";
  font-style: normal;
  src: url("djprshiny/fonts//VIC-SemiBold.eot");
  src: url("./fonts/VIC-SemiBold-iefix.eot?#iefix") format("embedded-opentype"),
       url("./fonts/VIC-SemiBold.woff2") format("woff2"),
       url("./fonts/VIC-SemiBold.woff") format("woff"),
       url("./fonts/VIC-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "VIC-Bold";
  font-style: normal;
  src: url("./fonts/VIC-Bold.eot");
  src: url("./fonts/VIC-Bold-iefix.eot?#iefix") format("embedded-opentype"),
       url("./fonts/VIC-Bold.woff2") format("woff2"),
       url("./fonts/VIC-Bold.woff") format("woff"),
       url("./fonts/VIC-Bold.ttf") format("truetype");
}

h1 {
  font-family: "VIC-Bold";
}

h2{
  font-family: "VIC-SemiBold";
}

h3, h4, h5, h6, p, a, body{
  font-family: "VIC-Regular";
}

body{
  font-size: 14px;
}

body {
  background: #FFFFFF;
}

a{
  text-decoration: none;
}

.skin-blue .main-header .navbar {
  margin-left: 0;
  background-color: var(--midnight);
  width: 100%;
  /*position: fixed;*/
}

.skin-blue .main-header .navbar .sidebar-toggle {
  height: auto;
}

.navbar:before{
  content:none;
}


.sidebar-toggle, .sidebarCollapsed{
  /*position: fixed;*/
}

#sidebarCollapsed {
  padding-top: 70px;
  background-color: var(--midnight);
  /*position: fixed;*/
}

/*
.content{
  margin-top: 50px;
}
*/

.content-wrapper, .right-side{
background-color: #FFFFFF;
border-radius: 1.25rem 0 0 0;
}

.skin-blue .main-header .navbar .sidebar-toggle{
  color:var(--midnight);
  background-color: var(--sunrise);
  font-weight: bold;
  border-radius: 50%;
  width:50px;
  height:50px;
  margin-left: 10px;
 /* margin: 10px; */
}

.skin-blue .main-header .navbar .sidebar-toggle:focus{
  background:var(--sunrise);
}

.skin-blue .main-header .navbar .sidebar-toggle:hover{
  background:var(--sunrise);
  color:var(--midnight);
}

.skin-blue .main-header .navbar .sidebar-toggle:before{
  font-size: 20px;
  text-align: center;
  width: 50px;
  display: table-cell;
  position:relative;
  top:-5px;
}

.small-box{
  pointer-events: none;
}

.small-box .inner{
  padding: 15px;
  border-radius: 1.25rem;
  background-color: var(--sunrise);
  color: var(--midnight);
}

.small-box .inner h2{
  font-size: 25px;
  margin: 0;
}

.skin-blue .wrapper{
  background-color: #53565a;
}

.box, .small-box{
  box-shadow: none;
  border:none;
  border-radius:1.25rem;
  background-color: transparent;
  overflow-x: auto;
}

.skin-blue .sidebar-menu>li>a{
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  height:60px;
  font-size: 20px;
  font-family: "VIC-SemiBold";
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  border-left: 10px solid #FFFFFF00;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration:none;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

.skin-blue .sidebar-menu>li.active>a{
  border-left: 10px solid var(--midnight);
  background: var(--night);
}

.skin-blue .sidebar-menu>li.active:hover>a{
  border-left: 10px solid var(--midnight);
  background: var(--twilight);
  color:var(--midnight);
}

.skin-blue .sidebar-menu>li>a{
  border-left: 10px solid var(--midnight);
}

.skin-blue .sidebar-menu>li:hover>a{
  border-left: 10px solid var(--midnight);
  background: var(--twilight);
  color:var(--midnight);
}

.skin-blue .wrapper {
    background-color: var(--midnight);
}

.djprTable{
   text-align: center;
   width: 100%;
   border-collapse: collapse;
   overflow-x: auto;
   font-size: 12px;
   font-variant-numeric: tabular-nums;
}

.djprTable thead{
  background-color: #000000;
  color: #FFFFFF;
  text-transform: Uppercase;
}

.djprTable th, .djprTable td {
  padding: 10px;
}

.djprTable thead th{
  border: 2px solid #FFFFFF;
}

.djprTable tbody td{
  border: 1px solid #000000;
}

.djprTable tbody th{
  border: 1px solid #000000;
  text-align: left;
}

.djprTable thead tr:nth-child(1) th:nth-child(1){
  text-align: left;
}

.djprTable th:first-child{
   border-left: none;
}

.djprTable td:last-child{
   border-right: none;
}

.djprTable tbody tr:hover{
  background-color: var(--twilight);
}

.djprTable .djprTableHeading th, .djprTable .djprTableHeading td{
    background-color: var(--twilight);
    border-left: none;
    border-right: none;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

.highcharts-data-table{
   text-align: center;
   width: 100%;
   border-collapse: collapse;
   overflow-x: auto;
   font-size: 12px;
}

.highcharts-data-table thead{
  background-color: #000000;
  color: #FFFFFF;
  text-transform: Uppercase;
}

.highcharts-data-table th, .highcharts-data-table td {
  padding: 10px;
}

.highcharts-data-table thead th{
  border: 2px solid #FFFFFF;
}

.highcharts-data-table tbody td, .highcharts-data-table tbody th{
  border: 1px solid #000000;
}

.highcharts-data-table th:first-child{
   text-align: left;
   border-left: none;
}

.highcharts-data-table td:last-child{
   border-right: none;
}

.highcharts-data-table tbody tr:hover{
  background-color: var(--twilight);
}

.sourceBadge{
  color:#FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 1.25rem;
  font-size: 14px;
  display: table;
  line-height: 0.8;
}

.sourceBadge div:first-child{
  display: table-cell;
  background-color: #FFFFFF;
  border-radius: 0.9rem 0 0 0.9rem;
  display: table-cell;
  color: var(--midnight);
  padding: 5px;
  font-weight: bold;
  vertical-align: middle;
  text-transform: Uppercase;
}

.sourceBadge div:last-child{
  display: table-cell;
  vertical-align: middle;
  padding: 5px;
}

.nav:before, .nav:after, .navbar:before, .navbar:after{
  content:none;
}

.navbar-nav{
  padding-right: 10px;
  align-items: flex-end;
}

.badgeDescript{
  color: #FFFFFF;
  text-align: right;
  vertical-align: middle;
  display: table-cell;
  font-weight: bold;
  padding-top: 3px;
  line-height: 1.1;
}

#shiny-tab-methodology{
  padding: 15px;
}

.navbar-custom-menu{
  padding-right: 10px;
}

@media (max-width: 590px) {
   .navbar-custom-menu{
      display: none;
   }
}

.multi-wrapper .search-input{
  border-radius: 1.25rem 1.25rem 0 0;
}

.multi-wrapper{
  border: none;
}

.multi-wrapper .non-selected-wrapper{
  border: none;
  border-radius: 0 0 0 1.25rem;
}

.multi-wrapper .selected-wrapper{
  border: none;
  border-radius: 0 0 1.25rem 0;
  overflow: auto;
}

/*
.shiny-options-group{
  background-color: #FFFFFF;
    border-radius: 1.25rem;
    padding: 10px;
}
*/
